.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
  width: 80vw;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 0.6rem;
  padding: 0.6rem;
  border: 1px solid black;
  list-style-type: none;
}
